@import url('./main-layout.css');
@import url('./components/form.css');
@import url('./components/catalogo.css');
@import url('./components/cards.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

vaadin-button{
	cursor:pointer;
}

vaadin-horizontal-layout.responsive{
	flex-wrap: wrap;
}

.link-action{
	cursor:pointer;
	color: var(--lumo-primary-color);
}